@use "../_variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-bg;
  padding: 0 2rem;
  height: $header-height;

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: auto;
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 3rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        color: $color-text;
        font-weight: 500;
        cursor: pointer;
        transition: transform 0.3s, background 0.3s, color 0.3s;
        border-radius: 5px;
        padding: 5px;
        margin-right: 150px;
        font-size: 25px;

        &:hover {
          background: $color-text;
          color: $color-primary;
          transform: scale(1.2);
        }
      }
    }
  }
}