.average-sessions {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 10px;

  &__title {
    position: absolute;
    top: 0px;
    left: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    line-height: 1.2;
    z-index: 2;
  }

  &__tooltip {
    background: white;
    color: black;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    transform: translateY(-50%);
  }

  &__cursor {
    fill: rgba(0, 0, 0, 0.15);
  }

  .recharts-line {
    stroke: #ffffff;
  }

  .recharts-cartesian-axis-tick-value {
    font-size: 12px;
    fill: #ffffff;
    opacity: 0.6;
  }
}
