@use "../../_variables" as *;

.performance-radar {
  width: 100%;
  height: 265px;
  background: #282d30;
  border-radius: $radius-md;
  position: relative;
  box-shadow: $shadow;

  &__message {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 1rem;
  }

  .recharts-polar-angle-axis-tick text {
    fill: #ffffff;
    font-size: 12px;
  }

  .recharts-polar-grid {
    stroke: #ffffff;
    opacity: 0.7;
  }

  .recharts-radar {
    fill: #ff0101;
    fill-opacity: 0.6;
  }
}