.score {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__chart {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__center {
    position: absolute;
    text-align: center;
    line-height: 1.2;

    strong {
      display: block;
      font-size: 1.5rem;
      color: #282d30;
    }

    span {
      font-size: 0.8rem;
      color: #74798c;
    }
  }
}