.score {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;

  &__title {
    position: absolute;
    top: 2px;
    left: 25px;
    color: #20253a;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    line-height: 1.2;
    z-index: 3;
  }

  &__chart {
    position: relative;
    width: 100%;
    height: 100%;
    
  }

  &__center {
    position: absolute;
    text-align: center;

    strong {
      display: block;
      font-size: 1.5rem;
      color: #282d30;
    }

    span {
      font-size: 0.8rem;
      color: #74798c;
      margin-top: -50px;
    }
  }
}
